* {
  border-radius: 0 !important;
}

body {
  box-sizing: border-box;
}

.calc-container {
  max-width: 400px;
  min-width: 400px;
  height: 600px;
}

.display {
  height: 2.5rem;
}

.img-magic {
  height: 30rem;
  background-image: url('https://cdn.nohat.cc/thumb/f/720/comdlpng6960754.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bold-text {
  font-weight: 700;
}
